html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
:root{
  --bg-color: #fff;
  --grey-light: #f2f2f2;
  --grey: #737373;
  --grey-dark: #313131;
  --blue-primary: #4583ed;
  --border-grey: rgba(100,100,100,.1);
}
body{
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*  Header */
nav{
  display: flex;
  justify-content: flex-end;
  min-height: 60px;
  font-size: 13px;
  color: var(--grey-dark);
  padding-right: 22px;
}

.apps{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.apps li {
  padding: 8px;
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--grey-dark);
}
.app-icon{
  color: var(--grey);
  cursor: pointer;
}
.app-icon:hover{
  color: var(--grey-dark);
}


/*main section*/
.main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}
.main .container{
  width: 45%;
  max-width: 480px;
}
.logo-container figure{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container .search{
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--border-grey);;
  border-radius: 45px;
  min-height: 43px;
}
.form-container .search:hover{
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
.form-container .search .search-icon,
.form-container .search .search-voice{
  width: 5%;
  color: var(--grey);
}
.form-container .search input{
  box-sizing: border-box;
  width: 70%;
  border: none;
}
.form-container button{
  margin: 0 5px;
}
.main .container footer{
  margin-top: 27px;
  text-align: center;
}

/*footer*/
.footer{
  display: grid;
  font-size: 14px;
}
.footer div{
  background-color: var(--grey-light);
  border-top: .1px solid var(--border-grey);
  padding: 12px 30px;
}
.footer .info{
  display: flex;
  justify-content: space-evenly;
}
.footer h4{
  font-size: 15px;
}
.footer h4,
.footer ul{
  margin: 0;
  padding:0;
}
.footer ul{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.footer .inf-2{
  justify-content: flex-end;
}
.footer ul li{
  list-style: none;
  margin-right: 27px;
}
.footer .inf-2 li{
  margin-right: 0;
  margin-left: 30px;
}
.footer ul li a,
.footer h4{
  font-weight: 400;
  color: var(--grey);
}
/*Buttons*/
.btn {
  display: inline-block;
  border: none;
  background-color: var(--grey-light);
  color: var(--grey);
  padding: 8px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
}
.btn-primary{
  background-color: var(--blue-primary);
  color: #fff;
  font-weight: 600;
}
.btn-search{
  font-size: 14px;
  padding: 10px 18px;
  border: 1px solid var(--grey-light);
}
.btn-search:hover{
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: 1px solid var(--border-grey);
  color: var(--grey-dark);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }